In [2]:
val df = Seq(
  ("A", "a", "e", 1, 2),
  ("B", "a", "f", 2, 3),
  ("C", "c", "g", 3, 4)
)
.toDF("id", "item", "another_item", "value1", "value2")

df.show()

+---+----+------------+------+------+
| id|item|another_item|value1|value2|
+---+----+------------+------+------+
|  A|   a|           e|     1|     2|
|  B|   a|           f|     2|     3|
|  C|   c|           g|     3|     4|
+---+----+------------+------+------+

df: org.apache.spark.sql.DataFrame = [id: string, item: string ... 3 more fields]

In [3]:
//  using map and selected variables only
val list = Array("value1", "value2")

val expr = list.map((s: String) => mean(col(s)).as(s))


df
.groupBy("item")
.agg(expr.head, expr.tail: _*)
.show()

+----+------+------+
|item|value1|value2|
+----+------+------+
|   c|   3.0|   4.0|
|   a|   1.5|   2.5|
+----+------+------+

list: Array[String] = Array(value1, value2)
expr: Array[org.apache.spark.sql.Column] = Array(avg(value1) AS `value1`, avg(value2) AS `value2`)

Group by same function

In [4]:
df
.groupBy("item")
.sum()
.show()

+----+-----------+-----------+
|item|sum(value1)|sum(value2)|
+----+-----------+-----------+
|   c|          3|          4|
|   a|          3|          5|
+----+-----------+-----------+